class Router extends Component {
  state = { page: 'home' }

  render() {
    return (
      <div>
        <a href="#/home" onClick={() => this.setState({ page: 'home' })}>
          <RaisedButton>Home</RaisedButton>
        </a>
        <a href="#/shop" onClick={() => this.setState({ page: 'shop' })}>
          <RaisedButton>Shop</RaisedButton>
        </a>
        {
          this.state.page === 'home' &&
            <h1>Welcome!</h1>
        }
        {
          this.state.page === 'shop' &&
            <h1>Everyting is free.</h1>
        }
      </div>
    );
  }
}
